

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:rgb(151, 224, 34);
  }
  
  h1 {
    margin-top: 20px;
    color:palevioletred;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color:rgb(114, 7, 208);
  }
  form label,
  form input{
    display: block;
    margin-bottom: 20px;
  }

  form button,
  form checkbox{
    display: block;
    margin-bottom: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
